p {
	font-family: 'Roboto', 'sans-serif';
	font-weight: 100;
	font-size: 18px;
}

h2 {
	font-family: 'Roboto', 'sans-serif';
font-weight: 700;
font-size: 64px;	
}

body {
	overflow: hidden;
	font-family: 'Roboto', 'sans-serif';
	background-image:url('../images/bg.jpg');
	background-size: cover;
}

label {
	font-family: 'Roboto', 'sans-serif';
font-weight: 300;
font-size: 12px;
margin-bottom: 8px;
}

.info-user {
	float: right;
}

.conferenceButtonCreate {
	display: block;
	width: 100px;
	margin-left: 30px;
}

#inputNickname, #inputTitle, #inputCode {
	font-family: 'Roboto', 'sans-serif';
font-weight: 300;
font-size: 12px;
}

.selectedCapability {
	font-family: 'Roboto', 'sans-serif' !important;
font-weight: 300 !important;
font-size: 12px !important;
text-align: left !important;
}

.conferenceButtonCreate {
	font-family: 'Roboto', 'sans-serif' !important;
	font-weight: 700 !important;
	font-size: 18px !important;
}

.form-signin {
	max-width: 400px;
	padding: 19px 29px 19px;
	margin: 50px auto 20px;
	background-color: #fff;
	/* border: 2px solid #d6dbdf; */
	/* -webkit-box-shadow: 4px 1px 2px rgba(255, 255, 255, 0.5); */
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	/* box-shadow: 4px 1px 2px rgba(255, 255, 255, 0.5); */
}

.login-user-avatar {
	position: relative;
	display: inline-block;
	height: 144px;
	width: 144px;
	vertical-align: middle;
	border: 2px solid white;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
	overflow: hidden;
}

.filterLabel {
	width: 173px;
}

.login-alu {
	position: absolute;
	bottom: 50px;
	right: 50px;
}

.conferenceInput {
	display: block;
	width: 150px;
}

.existing-conference{
	margin-top: -113px;
	float: right;
}

.extension {
	position: relative;
margin: 40px auto;
width: 290px;
height: 100px;
}

.extension-label {
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
	font-size: 12px;
	color: #fff;
	text-align: center;
	display: inline-block;
	padding-left: 6px;
}

.extension-install {
	margin-top: 20px;
	margin-left: 71px;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
	font-size: 14px;
}
