.message {
	list-style: none;
}

.message-time {
	float: left;
	width: 27px;
	margin-left: 6px;
	font-family: ClanOT-News;
	line-height: 17px;
	font-size: 10px;
	height: 16px;
	color: #B6B7B8;
}

.message-issuer {	
	float: left;
	width: 70%;
	margin-left: 17px;
	font-family: ClanOT-News;
	line-height: 16px;
	color: #6639B7;
	font-size: 10px;
	height: 16px;
	overflow: hidden;
  	text-overflow: ellipsis;
}

.message-content {
	margin: 0 6px 0 51px;
	padding-top: 17px;
	font-family: ClanOT-News;
	line-height: 14px;
	color: #4b4f56;
	font-size: 10px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	display: block;
}

.message-clear {
	clear: both;
	height: 8px;
}