.participant {
	display: inline-block;
	width: 162px;
	height: 135px;
	padding-left: 10px;
	vertical-align: top;
}

.participant-video {
	position: relative;
	width: 160px;
	top: -20px;
	border: 1px solid #4b4f56;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	background-color: #4b4f56;
}

.participant-nickname {
	z-index: 100;
	position: relative;
	padding: 2px 6px 2px 6px;
	color: white;
	background-color: #282828;
	font-size: 11px;
	font-family: ClanOT-News;
	text-overflow: ellipsis;
	overflow: hidden;
	text-align: center;
	line-height: 20px;
	white-space: nowrap;
	opacity: 0.8;
}