<div class="wrapper unselectable">
	<div id='header' class="header">
		<span class="appName">PingMe</span>
		<span class="title">Conference</span>

		<div id='ramdam-actions'>
			<img id="fullButton" alt='tooltip' title='Click to change the view mode' src='./images/fullscreen.png' width='36' height='36' class='fullscreen touch' />
			<span id="inviteButton" class="inviteButton touchButton"> + INVITE</span>		
			<span id="shareButton" class="shareButton touchButton shareTab">SHARE MY SCREEN</span>
			
			<div class="fileUploadButton fileUpload touchButton">
	    		<span>SHARE A FILE</span>
	    		<input type="file" class="upload" id="fileselect" />
			</div>

		</div>
	</div>

	<div id="wrapmiddle" class="wrapmiddle">
		<div id='no-participant' class="no-participant">Waiting for participant to connect...</div>
		<div id="stage" class="middle">
		</div>
	</div>

	<div class="left">
		<span id="me" class="participant"></span>
		
		<ul id="participants" class="participants"></ul>
	</div>

	<div id="data" class="right">
		<div class="clear"></div>
		<ul id="dataList" class="dataList">
		</ul>
		<div id="bottom" class="bottom">
			<form class="chatForm">
				<input id="chatEditor" type="text" placeholder="Enter something you want to say..." class="form-control chatInput" />
				<span id="sendButton" class="sendButton touchButton">SEND</span>
				<button class="btn btn-block btn-info" type="action" id="joinButton" disabled style="display:none">Join</button>
			</form>
		</div>
	</div>

	<div id="exitFullScreen" class="exitFullScreen touchButton hidden">Exit</div>
</div>
