<div class="wrapper unselectable">
	<div class="header">
		<span class="appName">Twing</span>
		<span class="title">Conference</span>
		<span class="desktopSharingButton touchButton unselectedTab">&gt;</span>
	</div>

	<div id="wrapmiddle" class="wrapmiddle">
		<span id="shareButton" class="shareButton touchButton shareTab">SHARE MY SCREEN</span>
		<div id='no-participant' class="no-participant">Waiting for participant to connect...</div>
		<div id="stage" class="middle">
		</div>
	</div>



	<div class="left">
		<span id="me" class="participant"></span>
		<ul id="participants" class="participants"></ul>
	</div>

	<div id="data" class="right">
		<div class="fileUploadButton fileUpload touchButton">
    		<span>SHARE A FILE</span>
    		<input type="file" class="upload" id="fileselect" />
		</div>
		<div class="clear"></div>
		<ul id="dataList" class="dataList">
		</ul>
		<div id="bottom" class="bottom">
			<form class="chatForm">
				<input id="chatEditor" type="text" placeholder="Enter something you want to say..." class="form-control chatInput" />
				<span id="sendButton" class="sendButton touchButton">SEND</span>
				<button class="btn btn-block btn-info" type="action" id="joinButton" disabled style="display:none">Join</button>
			</form>
		</div>
	</div>
</div>

<!--
<input type="file" id="fileselect" name="fileselect[]" multiple="multiple" />
<button class="btn btn-block btn-info" type="action" id="testButton">SEND</button>
 -->
<!--
<div class="pingme"></div>
<div class="pingmeText">Video Web Conference</div>
-->
